@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

body {
    font-family: 'Muli', sans-serif;
    background-image: linear-gradient(to right, #111827, #362b44, #653d59, #945162, #bc6d61, #bc6d61, #bc6d61, #bc6d61, #945162, #653d59, #362b44, #111827);
}

.shell {
    padding: 80px 0;
}

.wsk-cp-product {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    margin: 20px auto;
}

.wsk-cp-img {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-0%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.wsk-cp-img img {
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
}

.wsk-cp-product:hover .wsk-cp-img {
    top: -40px;
}

.wsk-cp-product:hover .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wsk-cp-text {
    padding-top: 20%;
}

.wsk-cp-text .category {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 200px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.wsk-cp-text .category>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);

}

.wsk-cp-text .category>span {
    padding: 12px 30px;
    border: 1px solid #313131;
    background: #212121;
    color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 27px;
    transition: all 0.05s ease-in-out;

}

.wsk-cp-product:hover .wsk-cp-text .category>span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
    margin-top: 0px;
}

.wsk-cp-text .title-product {
    text-align: center;
}

.wsk-cp-text .title-product h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.wsk-cp-text .title-amount {
    text-align: center;
}

.wsk-cp-text .title-amount h3 {

    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.title-amount h3 {

    margin: 0px;
}

.wsk-cp-text .description-prod p {
    margin: 0;
}

/* Truncate */
.wsk-cp-text .description-prod {
    text-align: center;
    width: 100%;
    height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

.wsk-cp-text-detail {
    padding-top: 5%;
}

.wsk-cp-text-detail .category {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 28px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.wsk-cp-text-detail .category>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);

}

.wsk-cp-text-detail .category>span {
    padding: 12px 30px;
    border: 1px solid #313131;
    background: #212121;
    color: #fff;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 27px;
    transition: all 0.05s ease-in-out;

}

.wsk-cp-product:hover .wsk-cp-text-detail .category>span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text-detail .category {
    margin-top: 0px;
}

.wsk-cp-text-detail .title-product {
    text-align: center;
}

.wsk-cp-text-detail .title-product h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 15px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.wsk-cp-text-detail .title-amount {
    text-align: center;
}

.wsk-cp-text-detail .title-amount h3 {

    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.title-amount h3 {

    margin: 0px;
}

.wsk-cp-text-detail .description-prod p {
    margin: 0;
}

/* Truncate */
.wsk-cp-text-detail .description-prod {
    text-align: center;
    width: 100%;
    height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

.wsk-cp-text-detail .description-prod-detail {
    text-align: center;
    font-size: 12px;
    width: 70%;
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    margin: 5px 0px 10px 95px;
}


.card-footer {}

.card-footer:after,
.card-footer:before {
    content: '';
    display: table;
}

.card-footer:after {
    clear: both;
}

.card-footer .wcf-left {
    float: left;

}

.card-footer .wcf-right {
    float: right;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

a.buy-btn {
    display: block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #212121;
    transition: all 0.2s ease-in-out;
}

a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
    border-color: #FF9800;
    background: #FF9800;
    color: #fff;
    text-decoration: none;
}

.wsk-btn {
    display: inline-block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    border-color: #FF9800;
    background: #FF9800;
    padding: 12px 30px;
    border-radius: 27px;
    margin: 0 5px;
}

.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
    text-decoration: none;
    color: #fff;
}

.red {
    color: #F44336;
    font-size: 22px;
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 991px) {
    .wsk-cp-product {
        margin: 40px auto;
    }

    .wsk-cp-product .wsk-cp-img {
        top: -40px;
    }

    .wsk-cp-product .wsk-cp-img img {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    .wsk-cp-product .wsk-cp-text .category>span {
        border-color: #ddd;
        box-shadow: none;
        padding: 11px 28px;
    }

    .wsk-cp-product .wsk-cp-text .category {
        margin-top: 0px;
    }

    a.buy-btn {
        border-color: #FF9800;
        background: #FF9800;
        color: #fff;
    }
}

.counter {
    margin: 5px 43%;
}

.counter-cart {
    margin: 5px 48%;
}

.span-detail {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 10px 15px 10px 35px;
    perspective: 1000px;
}

.span-detail a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}

.span-detail a:before,
.span-detail a:after {
    position: absolute;
    content: "Comprar";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.span-detail a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

.span-detail a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

.span-detail a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.span-cart {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 10px 15px 10px 204px;
    perspective: 1000px;
}

.span-cart a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}

.span-cart a:before,
.span-cart a:after {
    position: absolute;
    content: "Ir al Carrito";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.span-cart a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

.span-cart a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

.span-cart a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 900px;
}

/* Slider */
#slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

@keyframes load {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite;
}

.slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

/* Legend */
.legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, .7);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
}

/* Contents */
.content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.content-txt {
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
    top: 300px;
    -webkit-animation: content-s 7.5s infinite;
    -moz-animation: content-s 7.5s infinite;
    animation: content-s 7.5s infinite;
}

.content-txt h1 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

.content-txt h2 {
    font-family: arial;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    text-align: left;
    margin-left: 30px;
}

/* Switch */
.switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: 30px;
}

.switch>ul {
    list-style: none;
}

.switch>ul>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.switch ul {
    overflow: hidden;
}

.on {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f39c12;
    position: relative;
    -webkit-animation: on 30s infinite;
    -moz-animation: on 30s infinite;
    animation: on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@-webkit-keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: 0;
    }

    80% {
        left: -420px;
    }

    90% {
        left: -420px;
    }

    100% {
        left: -420px;
    }
}

@-moz-keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: 0;
    }

    80% {
        left: -420px;
    }

    90% {
        left: -420px;
    }

    100% {
        left: -420px;
    }
}

@keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 20px;
    }

    15% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: 0;
    }

    80% {
        left: -420px;
    }

    90% {
        left: -420px;
    }

    100% {
        left: -420px;
    }
}

@-webkit-keyframes on {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: 15px;
    }

    46% {
        margin-left: 15px;
    }

    50% {
        margin-left: 30px;
    }

    71% {
        margin-left: 30px;
    }

    75% {
        margin-left: 45px;
    }

    96% {
        margin-left: 45px;
    }
}

@-moz-keyframes on {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: 15px;
    }

    46% {
        margin-left: 15px;
    }

    50% {
        margin-left: 30px;
    }

    71% {
        margin-left: 30px;
    }

    75% {
        margin-left: 45px;
    }

    96% {
        margin-left: 45px;
    }
}

@keyframes on {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: 15px;
    }

    46% {
        margin-left: 15px;
    }

    50% {
        margin-left: 30px;
    }

    71% {
        margin-left: 30px;
    }

    75% {
        margin-left: 45px;
    }

    96% {
        margin-left: 45px;
    }
}

/* main */
/* Reset */
a {
    text-decoration: none;
    color: inherit;
}

html {
    width: 100%;
    height: 100%;
}

/* Body */

.logo {
    width: 50px;
    height: 65px;
    position: relative;
    top: 7.5px;
    float: left;
    margin-left: 5%;
}

/* Content */
.container {
    width: 70%;
    height: auto;
    padding: 0px 0;
    margin: 0px auto;
}

.container h1 {
    font-family: Arial;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
}

.container h2 {
    font-family: arial;
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

.container h3 {
    font-family: arial;
    font-weight: normal;
    font-size: 16px;
    color: #aaa;
}

.code {
    width: 600px;
    height: auto;
    margin: 20px auto;
    padding: 10px 20px;
    background: #222;
    border-left: 10px solid #aaa;
    font-family: arial;
    font-size: 16px;
    color: #fff;
}

.code span {
    color: #89A978;
}

.space {
    width: 20px;
    height: 1px;
    float: left;
}


#credits {
    position: relative;
    width: 100%;
    margin: auto;
    bottom: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #b297a2;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

#credits a {
    color: #b297a2;
}

@keyframes load {
    0% {
        opacity: 0.08;
        font-size: 45px;
        font-weight: 400;
        filter: blur(5px);
        letter-spacing: 3px;
        color: #111827;
    }

    100% {
        opacity: 1;
        font-size: 30px;
        font-weight: 600;
        filter: blur(0);
        color: #111827;
    }
}

.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    /* 	width: 350px; */
    /* 	font-size:26px; */
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px #aaa;
}